/* 
 * Overrides and adds customized styles in this file
 * Read more on documentation:
 * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
 * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
 * French: http://no_git_for_french_people
 */

/* Logo page de connexion */
.logo-header:hover {
  transition: all 0.5s;
  -webkit-filter: contrast(150%);
  -moz-filter: contrast(150%);
  -o-filter: contrast(150%);
  -ms-filter: contrast(150%);
  filter: contrast(150%);
}

.logo-header:active {
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -o-filter: sepia(100%);
  -ms-filter: sepia(100%);
  filter: sepia(100%);
}

.auth-image {
  h1 {
    img {
      width: rem-calc(200);
      height: auto;
      margin: 0;
    }
  }
}

.a-logo-header {
  /*width: rem-calc(110);
  height: rem-calc(110);*/
  padding: rem-calc(5);
  background: #FFFFFF;
  text-align: center;
  border-radius: 100%;
  margin-bottom: rem-calc(25);
}

.show-for-small-only {
  text-align: center;
  
  img {
    width: rem-calc(100);
    margin: rem-calc(20);
  }
}

@media screen and (max-width: 639px) {
  .logo-header:hover { transition:none }
  
  .auth-image {
    text-align: center;
    h1 {
      margin: 0;
      img { width:rem-calc(100) }
    }
  }
}

.icon-debates:before { content:"\68" }
.icon-proposals:before { content:"\6d" }

.coords {
  display: block;
  overflow: auto;
  width: 300px;
}

.top-bar-right {
  .subnavigation {
    ul {
      padding-right: 0;
      text-align: center;
      
      li {
        position: relative;
        text-align: center;
        display: inline-block;
        width: 130px;
        height: 130px;
        margin: calc((100% - 130px) / 8) calc((100% - 130px) / 2);
        
        float: left;
        box-shadow: 0px 1px 3px #444444;
        
        @media screen and (min-width: 320px) and (max-width: 479px) { margin: calc((100% - 260px) / 4); }
        @media screen and (min-width: 480px) and (max-width: 639px) { margin: calc((100% - 390px) / 6); }
        @media screen and (min-width: 640px) { margin: calc((100% - 520px) / 8); }
        
        a {
          position:absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          line-height: normal;
          padding: .5em;
          
          img {
            margin: 0;
            height: calc(130px - 2em);
            width: auto;
          }
          
          .new-notif {
            position: absolute;
            width: 30px;
            height: 30px;
            background: yellow;
            top: -15px;
            right:-15px; 
            border-radius: 100%;
          }
        }
      }
    }
    
    ul.subnav-main li { background-color: $dark; }
    ul.subnav-admin li { background-color: $dark-admin; }
  }
}

.top-bar {
  ul {
    &.menu {
    
      @include breakpoint(medium) {
        margin-top: rem-calc(15);
        margin-bottom: rem-calc(30);
      }
    }

    &.menu > li {
      display: block;

      @include breakpoint(medium) {
        display: table-cell;
        height: auto;
      }
      
      &.not-logged a {
      
        @include breakpoint(medium) {
          font-size: $lead-font-size;
          padding: rem-calc(20) rem-calc(20);
        }
      }

      a {
        color: white;
        padding-left: 0;
        
        &:active {
        
          @include breakpoint(medium) {
            color: #bbbbbb;
          }
        }

        &.button {
          text-align: left;

          @include breakpoint(medium) {
            text-align: center;
            background: white;
            color: $brand;
          }
          
          &:hover {
        
            @include breakpoint(medium) {
              background: #dddddd;
            }
          }
          
          &:active {
        
            @include breakpoint(medium) {
              background: #bbbbbb;
            }
          }
        }
      }
    }
  }
}

a {
  &:focus {
    color: $link-hover;
    outline: none;
  }
}

.investment-project-show {
  .investment-project-header {
    margin-bottom: rem-calc(25);
    
    p {
      font-size: 1.25em;
    }
  }
  
  .investment-project-image {
    margin-bottom: rem-calc(50);
    text-align: center;
    
    article {
      background: #eeeeee;
      display: inline-block;
      border: 1px solid;
      border-color: #e5e6e9 #dfe0e4 #d0d1d5;
      padding: rem-calc(12);
      box-shadow: 0px 1px 3px 0 $border;
      
      img {
        max-width: 100%;
        max-height: rem-calc(300);
      }
    }
  }
  
  .investment-project-description {
    margin-bottom: rem-calc(50);
    
    .tag {
      display: inline-block;
      padding: rem-calc(6) rem-calc(10);
      background: #EEEEEE;
      color: #000000;
      border-radius: rem-calc(6);
      line-height: inherit;
    }
  }
  
  .investment-project-info {
    font-size: inherit;
    color: black;
    
    .canton {
      display: inline-block;
      padding: rem-calc(6) rem-calc(10);
      background: #E7F2FC;
      color: #f18500;
      border-radius: rem-calc(6);
      line-height: inherit;
      font-weight: bold;
      
      &:hover {
        color: #8B4D00;
      }
    }
  }
}

.investment-project {
  .panel {
    .investment-project-description {
      p {
        margin-top: rem-calc(10);
        display: inline-block;
      }
    }
    
    .investment-project-image {
      margin-bottom: rem-calc(12);
      text-align: center;
      
      a {
        background: #eeeeee;
        display: inline-block;
        border: 1px solid;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
        padding: rem-calc(12);
        box-shadow: 0px 1px 3px 0 $border;
        
        &:hover, &:active {
          background: #cccccc;
        }
        
        img {
          max-width: 100%;
          max-height: rem-calc(300);
        }
      }
    }
  }
}

